body {
    background-color: #FFFAEC;
}
hr {
    border: 2px solid #578E7E;
}
header img {
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    display: block;
}
.nav {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    padding: 0px 100px;
    background-color: #578E7E;
}
.nav .nav-sub {
    padding: 0px 10px;
    text-decoration: none;
}
.nav a { 
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 20px;
    color: #FFFAEC;
}